body
{
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4Nzg3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzk2OTY5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2I0YjRiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzk2OTY5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ODc4NzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #787878 0%, #969696 25%, #b4b4b4 50%, #969696 75%, #787878 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#787878), color-stop(25%,#969696), color-stop(50%,#b4b4b4), color-stop(75%,#969696), color-stop(100%,#787878)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #787878 0%,#969696 25%,#b4b4b4 50%,#969696 75%,#787878 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #787878 0%,#969696 25%,#b4b4b4 50%,#969696 75%,#787878 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #787878 0%,#969696 25%,#b4b4b4 50%,#969696 75%,#787878 100%); /* IE10+ */
    background: linear-gradient(left, #787878 0%,#969696 25%,#b4b4b4 50%,#969696 75%,#787878 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#787878',GradientType=1 ); /* IE6-8 */
}
body
{
    font-family: 'Ubuntu',sans-serif;    
    line-height: 1.2em;
}
#body
{
    margin: auto;
    max-width: 720px;
    width: 98%;
}
a
{
    color: #000000;
    font-weight:bold;
    text-decoration: underline;
}
ul#nav
{
    font-size: 1.2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul#nav li
{
    display: inline;
    margin: 1%;
}
#content div
{
    /*display: none;*/
}
#content
{
    margin-top: 2%;
}
#hidden
{
    display:none;
    }
blockquote{ font-size:1.2em;}